<html>
    <head>
        <meta charset="utf-8" />
        <!--<link rel="stylesheet" href="css/style.css" />-->
        <style>
            .container {
                margin-top:140px;
            }
            
            .content {
              width:290px;
              margin:0 auto;
              border:2px solid gainsboro;
            }
            
            .contentdiv {
              width:250px;
              margin:20px;
            }
            
            h2 {
              margin-bottom:40px;
            }
        </style>
    </head>
<body>

<div class="container">
<h2>Log in</h2>

<div class="content">
<div class="contentdiv">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>

</div>

</body>
</html>